.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleModalForm {
  position: relative;

  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.wrapperForm {
  padding: 0 20px 20px 20px;
}

.labelForm {
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.inputTitle, .textareaDescription, .selectPriority, option, .inputDate {
  width: 100%;
  padding: 12px;
  font-size: 18px;

  border-radius: 8px;
  background-color: #ffffff5c;
  border: none;
  scrollbar-width: none;
}

.wrapperForm .inputTitle:focus,
.textareaDescription:focus,
.selectPriority:focus,
.inputDate:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

/*Description style*/
.textareaDescription {
  resize: none;
}

/*Priority select style*/
.wrapperForm select {
  appearance: none;
  outline: none;
  cursor: pointer;
}
.wrapperForm select option {
  padding: 10px;
  background-color: rgba(192, 227, 200, 0.68);
  color: #333;
}

/*Status RadioBtn*/
.hiddenRadio {
  display: none;
}

.statusRadioGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.statusRadioBtn {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #ffffff5c;
  color: #333;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
  user-select: none;
}

.statusRadioBtn.active,
.statusRadioBtn:hover {
  background-color: #2f9b4a;
  color: #ffffffc7;
}

/*Data style*/
.wrapperForm input[type="date"] {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  cursor: pointer;
}

/*Button style*/
.btnWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.singleBtn {
  justify-content: center;
}

.doubleBtn {
  justify-content: space-between;
}

.btnSubmitForm {
  width: 200px;
  padding: 12px 20px;

  background-color: #208b24;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;

  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btnSubmitForm:hover {
  background-color: rgba(32, 139, 36, 0.48);
}

.btnSubmitForm:active {
  transform: scale(0.98);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

/*Validation Form*/

/* Error message style */
.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
}
/* Error input style */
.errorValidate {
  border: 1px solid red;
}
.errorlabel{
  color: red;
  font-weight: bold;
}
/* Error button style */
.errorButton {
  background-color: #ffcccc;
  color: red;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: not-allowed;
  font-weight: bold;
}
