.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: auto;
  z-index: 1000;
}

.modal {
  min-width: 500px;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;

  background-color: #c0e3c8;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

  position: relative;

  scrollbar-width: none;
}
.modalOpen {
  overflow: hidden;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
}

.closeBtnIcon {
  color: #000000cf;
  border-radius: 0 13px 0 13px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.closeBtnIcon:hover {
  background-color: #2d8743;
  border-radius: 0 13px 0 13px;
  color: #fff;
}
